* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
html {
    box-sizing: border-box;
  }
  
body {
    background-color: rgb(29, 29, 29);
    color: white;
}
/* Nav Principal */
.contenedor-header-principal {
    display: flex;
    align-items: center;
    padding: 20px 0;
    box-shadow: 1px 10px 12px -1px rgba(0,0,0,0.76);
    width: 100%;
    position: sticky;
    top: 0;
    background-color: rgb(29, 29, 29);
}
.logo-header-index {
    width: 25%;
    display: flex;
    justify-content: center;
}
.input-index-header {
    width: 30%;
    margin: 0 auto;
    display: flex;
}
.input-index-header .input-index-index {
    width: 800px;
    height: 35px;
    background-color: rgba(87, 87, 87, 0.425);
    border: none;
    padding-left: 10px;
    color: rgb(216, 216, 216);
    border-radius: 20px;
}
.input-index-index:focus {
    outline: none;
}
.input-index-index::placeholder {
    color: rgb(201, 201, 201);
}
.input-index-index-2 {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
}
.input-index-index-2:active {
    transform: scale(.9, .9);
    transition: .1s;
}
.input-index-index-2 i {
    font-size: 19px;
    color: rgb(255, 255, 255);
}
.nav-1 .ul-nav-1 {
    display: flex;
}
.nav-1 .ul-nav-1 .li-nav-1 {
    list-style-type: none;
    cursor: pointer;
}
.li-nav-1:hover {
    color: rgb(255, 140, 0);
}
.nav-right-index {
    width: 33%;
}
.nav-1 .ul-nav-1 {
    display: flex;
    justify-content: space-between;
    width: 400px;
}
body header .nav-right-index .nav-1 .ul-nav-1 i {
    display: none;
}
.media-q-index {
    display: flex;
    align-items: center;
}

/* Navegacion de cursos */
.nav-2 {
    background-color: rgb(29, 29, 29);
    overflow-x: scroll;
}
body header .nav-2 ul {
    display: flex;
    justify-content: left;
}
body header .nav-2 .ul-nav-2 li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    background-color: rgb(68, 68, 68);
    color: white;
    min-width: 230px;
    height: 30px;
    border-radius: 40px;
    margin: 20px 10px;
    cursor: pointer;
}
body header .ul-nav-2 li:hover {
    background-color: rgb(90, 90, 90);
}
body header .ul-nav-2 li:active {
    transform: scale(.9, .9);
    transition: .1s;
}
/* SCROLL NAV */
body .nav-2::-webkit-scrollbar-corner {
    display: none;
}
body .nav-2::-webkit-scrollbar {
    height: 12px;
}
body .nav-2::-webkit-scrollbar-track {
    background-color: rgb(24, 24, 24);
    border-radius: 40px;
}
body .nav-2::-webkit-scrollbar-thumb {
    background-color: rgb(87, 87, 87);
    border-radius: 40px;
}


/* MAIN */
main {
    width: 80%;
    margin: 0 auto;
}
/* SECTION 1 */
.section-1-index {
    display: flex;
    min-height: 450px;
    align-items: center;
}
.section-1-index .section-1-div-1 {
    width: 50%;
    display: flex;
    justify-content: center;
}
.children-section-1-div-1 {
    width: 100%;
}
.children-section-1-div-1 h1 {
    font-size: 45px;
    margin: 15px 0;
    line-height: 48px;
}
.children-section-1-div-1 p {
    font-size: 18px;
    color:rgb(255, 140, 0);
}
.blabla {
    width: 50%;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: rgb(68, 68, 68);
    height: 300px;
    display: flex;
    justify-content: center;
}
.blabla img {
    width: 370px;
}
.main-index-section-1-input {
    display: flex;
    align-items: center;
}
.main-index-section-1-input input {
    border-radius: 7px;
    border: 2px solid rgb(88, 88, 88);
    background-color: rgb(61, 61, 61);
    width: 280px;
    height: 35px;
    padding-left: 10px;
    color: #becde3;
}
.main-index-section-1-input input:focus {
    outline: none;
}
.button-is-index {
    background-color: rgb(255, 140, 0);
    width: 150px;
    height: 35px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    cursor: pointer;
}
.button-is-index:hover {
    background-color: rgb(145, 80, 0);
}
.button-is-index:active {
    transform: scale(.9, .9);
    transition: .1s;
}
.coloca-tu-c-index {
    margin-top: 35px;
    margin-bottom: 10px;
}
.coloca-tu-c-index p {
    color: #becde3;
    font-size: 17px;
}
/* SECTION 2 */
.hr-index {
    width: 160px;
    height: 5px;
    background-color: rgb(255, 140, 0);
    margin: 20px auto;
}
.section-2-div-1 h2 {
    padding-top: 30px;
    font-size: 27px;
}
.contenedor-carrusel {
    display: flex;
    overflow-x: scroll;
    margin: 20px 0;
}
.contenedor-carrusel::-webkit-scrollbar {
    width: 10px;
}
.contenedor-carrusel::-webkit-scrollbar-thumb {
    background-color: rgb(88, 88, 88);
    border-radius: 70px;
}
.children-carrusel-index {
    display: block;
}
.children-carrusel-index div img {
    width: 280px;
    height: 148px;
    padding: 0 10px;
    border-radius: 20px;
}
.children-carrusel-index h4 {
    padding-left: 14px;
    padding-top: 5px;
    font-size: 17px;
}
.children-carrusel-index div p {
    padding-left: 14px;
    color: #868686;
    font-size: 14px;
    padding-bottom: 13px;
}














@media screen and (max-width: 900px) {
    /* NAV-1 */
    .contenedor-header-principal {
        display: block;
    }
    .logo-header-index {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
    .media-q-index {
        display: flex;
    }
    .input-index-index {
        display: none;
    }
    .input-index-index-2 {
        background-color: transparent;
    }
    body header .nav-right-index .nav-1 .ul-nav-1 {
        width: 50%;
        display: flex;
        justify-content: center;
    }
    body header .nav-right-index .nav-1 .ul-nav-1 i {
        display: block;
    }
    body .nav-1 .ul-nav-1 i:active {
        transform: scale(.9, .9);
        transition: .1s;
    }
    body header .nav-right-index .nav-1 .ul-nav-1 li {
        display: none;
    }

    /* SECTION 1 */
    main {
        width: 95%;
    }
    .section-1-index {
        display: block;
    }
    .section-1-index .section-1-div-1 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .section-1-index .children-section-1-div-1 {
        width: 90%;
    }
    .section-1-index .children-section-1-div-1 h1 {
        font-size: 28px;
        line-height: 27px;
        margin-top: 30px;
    }
    .children-section-1-div-1 p {
        font-size: 12px;
    }
    .coloca-tu-c-index {
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .coloca-tu-c-index p {
        text-align: center;
    }
    .main-index-section-1-input {
        display: flex;
        flex-direction: column;
    }
    .main-index-section-1-input input, .button-is-index {
        width: 90%;
        margin: 5px 0;
    }
    .blabla {
        clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    }
    .blabla {
        width: 100%;
        width: 350px;
        height: 200px;
        margin: 0 auto;
    }
    .blabla img {
        width: 250px;
    }
}



