* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
body {
    background-color: rgb(29, 29, 29);
    color: white;
}
/* Nav Principal */
.contenedor-header-principal {
    display: flex;
    padding: 20px 0;
    box-shadow: 1px 10px 12px -1px rgba(0,0,0,0.76);
    position: sticky;
    top: 0;
}
.contenedor-header-principal .logo-header-index {
    width: 10%;
    display: flex;
    justify-content: center;
}
.nav-1 .ul-nav-1 {
    display: flex;
}
.nav-1 .ul-nav-1 .li-nav-1 {
    list-style-type: none;
}
.nav-right-index {
    display: flex;
    justify-content: end;
    width: 88%;
}
.nav-1 .ul-nav-1 {
    display: flex;
    justify-content: space-around;
    width: 400px;
}



/* Navegacion de cursos */
.nav-2 {
    background-color: rgb(29, 29, 29);
    overflow-y: scroll;
}
body header .nav-2 ul {
    display: flex;
    justify-content: left;
}
body header .nav-2 .ul-nav-2 li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    background-color: rgb(68, 68, 68);
    color: white;
    min-width: 230px;
    height: 30px;
    border-radius: 40px;
    margin: 20px 10px;
}
/* SCROLL NAV */
body .nav-2::-webkit-scrollbar-corner {
    display: none;
}
body .nav-2::-webkit-scrollbar {
    height: 12px;
}
body .nav-2::-webkit-scrollbar-track {
    background-color: rgb(24, 24, 24);
    border-radius: 40px;
}
body .nav-2::-webkit-scrollbar-thumb {
    background-color: rgb(87, 87, 87);
    border-radius: 40px;
}










